section.about
	.container 
		.about__block 
			h1.title-1 О нас
		.about__bottom 
			.about__left
				.about__left-elem
					img.img(src="img/quotes.png", alt="")
					p Несмотря на то, что компания работает как часовой механизм, я стараюсь принимать личное участие в решении каждой задачи, с которой к нам обращаются клиенты. 
					p.el-border Главной целью нашей работы является финансовое благополучие пайщиков Кооператива, которое мы обеспечиваем, увеличивая их сбережения и выдавая займы. 
					.about__left-img
						img.img(src="img/signed.png", alt="")
			.about__right
				.about__right-elem
				.about__right-body
					p Председатель правления КПК «Сберегательный Дом» <br>
						span Долганов Сергей Сергеевич

section.sections.credits
	.container 
		.credits__row
			.credits__left
				h4.fz-26 Кредитный потребительский <br> кооператив «Сберегательный Дом» — 
				p добровольное объединение физических и юридических лиц на основе членства в целях удовлетворения финансовых потребностей членов кредитного кооператива (пайщиков).
				.legislation-title
					span Основным направлением нашей 
					br
					span деятельности является кредитование  
					br
					span физических и юридических лиц под залог 
					br 
					span недвижимости по всей России. 
				p Благодаря большому опыту работы  и постоянному потоку клиентов мы можем гарантировать максимально высокую процентную ставку по всем видам наших сберегательных программ. 
				a(href="#").button.button--accent-bd Посмотреть программы
			.credits__right
				.credits__right-el
