
section.section.guide
	.container
		h2.title-2 Наше руководство
		.swiper-container.mySwiper-guide
			.swiper-wrapper.guide__row
				.guide__elem.swiper-slide
					.guide__elem-figure
					p Председатель правления КПК «Сберегательный Дом»
						span Долганов Сергей Сергеевич
				.guide__elem.swiper-slide
					.guide__elem-figure-n
					p Главный бухгалтер
						span Долганов Сергей Сергеевич
				.guide__elem.swiper-slide
					.guide__elem-figure-n
					p Умывальников начальники мочалок командир
						span Иванов Иван Петрович
				.guide__elem.swiper-slide
					.guide__elem-figure-n
					p Председатель правления КПК «Сберегательный Дом»
						span Долганов Сергей Сергеевич
				.guide__elem.swiper-slide
					.guide__elem-figure-n
					p Председатель правления КПК «Сберегательный Дом»
						span Долганов Сергей Сергеевич
			.swiper-pagination

section.section.docum.js-tab-wrapper
	.container
		h2.title-2.text-center Документы

		.docum__target
			.tabs
				button.button.tab.js-tab.is-active(type="button") Документы 
				button.button.tab.js-tab(type="button")
					span.hide-xl Информация для пайщиков
					span.show-xl Для пайщиков
				button.button.tab.js-tab(type="button") Положения
				button.button.tab.js-tab(type="button") Свидетельства

		.docum__content

			.docum__content-elem.js-tab-item 
				.myCont__wrap
					.myCont__column
						a(href="#" download).myCont__elem 
							.myCont__elem-img 
								img.img(src="img/pdf2.png", alt="")
							.myCont__elem-body
								span Устав КПК
									span.br «Cберегательный Дом»
					.myCont__column
						a(href="#" download).myCont__elem 
							.myCont__elem-img 
								img.img(src="img/pdf2.png", alt="")
							.myCont__elem-body
								span Федеральный Закон 
									span.br №190-ФЗ «О кредитной
									span.br кооперации»
					.myCont__column
						a(href="#" download).myCont__elem 
							.myCont__elem-img 
								img.img(src="img/pdf2.png", alt="")
							.myCont__elem-body
								span Базовый стандарт совершения 
									span.br КПК операций
									span.br на финансовом рынке 
					.myCont__column
						a(href="#" download).myCont__elem 
							.myCont__elem-img 
								img.img(src="img/pdf2.png", alt="")
							.myCont__elem-body
								span Базовый стандарт защиты 
									span.br прав и интересов физических 
									span.br и юридических лиц -  
									span.br получателей финансовых услуг  
					.myCont__column
						a(href="#" download).myCont__elem 
							.myCont__elem-img 
								img.img(src="img/pdf2.png", alt="")
							.myCont__elem-body
								span Среднерыночные значения   
									span.br полной стоимости
									span.br потребительских кредитов  
									span.br (займов)  
					.myCont__column
						a(href="#" download).myCont__elem 
							.myCont__elem-img 
								img.img(src="img/pdf2.png", alt="")
							.myCont__elem-body
								span Программы предоставления  
									span.br займов членам КПК
									span.br «Сберегательный Дом» 
									span.br от 30.03.2020 г.  
					.myCont__column
						a(href="#" download).myCont__elem 
							.myCont__elem-img 
								img.img(src="img/pdf2.png", alt="")
							.myCont__elem-body
								span Общие условия  
									span.br предоставления, обслуживания
									span.br и погашения потребительских
									span.br займов для физических лиц  
					.myCont__column
						a(href="#" download).myCont__elem 
							.myCont__elem-img 
								img.img(src="img/pdf2.png", alt="")
							.myCont__elem-body
								span Свидетельство участника  
									span.br страхования сбережений
		
			.docum__content-elem.js-tab-item 
				.title.title-1 2
		
			.docum__content-elem.js-tab-item 
				.title.title-1 3
		
			.docum__content-elem.js-tab-item 
				.title.title-1 4
		
		// /.docum__content

section.appreciate
	.container
		.appreciate__top
			h4.fz-26 Мы любим и ценим своих клиентов и всегда настроены на долгосрочное сотрудничество в любых финансовых вопросах. 
			h2.title-2 Присоединяйтесь<br> к нам и получите индивидуальные условия для сбережения ваших средств!	
		.appreciate__img 
			img.img(src="img/appreciate-img2.png", alt="")
		.appreciate__block 
			h2.title-2 Присоединяйтесь<br> к нам и получите индивидуальные условия для сбережения ваших средств!	
