section.gloans-hero
	.container
		.gloans-hero__block 
			h1.title-1 Наслаждайтесь жизнью
				span.br здесь и сейчас! 
				span.br Займы на любые цели.
section.section.gloans-adv
	.container
		.gloans-adv__row
			.gloans-adv__left
				.gloans-adv__left-row
					.gloans-adv__left-elem
						span Выдача займов
							p.br за 1 день
						.line
					.gloans-adv__left-elem
						span Оформление 
							p.br по 2-м документам
						.line
					.gloans-adv__left-elem
						span Под контролем
							p.br ЦБ РФ
						.line
					.gloans-adv__left-elem
						span Под залог недвижимости
							p.br на территории РФ
						.line
					.gloans-adv__left-elem
						span Работаем 
							p.br по всей России
						.line
			.gloans-adv__right
				.gloans-adv__right-img 
					img.img(src="img/gloans-adv-img.png", alt="")
section.section.gloans-programs
	.container
		h2.title-2 Программы займов
		.gloans-programs__row 
			.gloans-programs__left
				.gloans-programs__left-top 
					p.fz-26 Под залог недвижимости
				.gloans-programs__left-body 
					.gloans-programs__left-body-elem
						span Минимальный срок займа:
						p 1 месяц
					.gloans-programs__left-body-elem
						span Максимальный срок займа :
						p 180 месяцев
					.gloans-programs__left-body-elem
						span Минимальная сумма займа: 
						p 100 000 Р
					.gloans-programs__left-body-elem
						span Максимальная сумма займа:  
						p 30 000 000 Р
					.gloans-programs__left-body-elem
						span Периодичность возврата займа: 
						p В конце срока договора займа
					.gloans-programs__left-body-elem
						span Ставка процентов за пользование займом : 
						p от 10% годовых
				.gloans-programs__left-btns 
					a(href="#").button.button--accent-bd Оставить заявку
			.gloans-programs__right
				.gloans-programs__left-top 
					p.fz-26 На улучшение жилищных условий
				.gloans-programs__left-body 
					.gloans-programs__right-body-elem
						span Минимальный срок займа:
						p 1 месяц
					.gloans-programs__right-body-elem
						span Максимальный срок займа :
						p 180 месяцев
					.gloans-programs__right-body-elem
						span Минимальная сумма займа: 
						p 100 000 Р
					.gloans-programs__right-body-elem
						span Максимальная сумма займа:  
						p 30 000 000 Р
					.gloans-programs__right-body-elem
						span Периодичность возврата займа: 
						p В конце срока договора займа
					.gloans-programs__right-body-elem
						span Ставка процентов за пользование займом : 
						p от 12% годовых
				.gloans-programs__right-btns 
					a(href="#").button.button--accent-bd Оставить заявку

section.section.gloans-join
	.container
		.gloans-join-block 
			.gloans-join-body
				h2.title-2 Присоединяйтесь 
					span.br к КПК «Сберегательный Дом» и получите индивидуальные условия кредитования!
				a(href="#").button.button--accent-bg.submit Получить консультацию
		
section.section.gloans-plus
	.container
		.gloans-plus__row
			.gloans-plus__elem
				.gloans-plus__elem-img
					img.img(src="img/plus.png", alt="")
				p Займы предоставляются физическим лицам – пайщикам Кооператива.
			.gloans-plus__elem
				.gloans-plus__elem-img
					img.img(src="img/plus.png", alt="")
				p Заём предоставляется на капитальный ремонтили иное неотделимое улучшение предмета ипотеки.
			.gloans-plus__elem
				.gloans-plus__elem-img
					img.img(src="img/plus.png", alt="")
				p Заём предоставляется в наличной или безналичной форме
			.gloans-plus__elem
				.gloans-plus__elem-img
					img.img(src="img/plus.png", alt="")
				p Периодичность возврата займа — в конце срока договора займа.
			.gloans-plus__elem
				.gloans-plus__elem-img
					img.img(src="img/plus.png", alt="")
				p Обеспечение исполнения обязательств — залог(ипотека) в силу договора в отношении имеющегося жилья
			.gloans-plus__elem
				.gloans-plus__elem-img
					img.img(src="img/plus.png", alt="")
				p Размер неустойки, штрафа за неисполнение обязательств — согласно Договора займа.

section.section.gloans-docs
	.container
		h2.title-2 Необходимые документы
		.swiper-container.mySwiper
			.swiper-wrapper.gloans-docs__row
				.gloans-docs__elem.swiper-slide
					span 1.
					p Паспорт гражданина Российской Федерации
				.gloans-docs__elem.swiper-slide
					span 2.
					p Паспорт гражданина Российской Федерации супруга(и) заемщика
				.gloans-docs__elem.swiper-slide
					span 3.
					p Свидетельства о регистрации права собственности продавцов на приобретаемый объект недвижимости или выписки из ЕГРП/ЕГРН
				.gloans-docs__elem.swiper-slide
					span 4.
					p Документы, на основании которых у пайщика возникло право собственности на объект недвижимости.
			.swiper-pagination
		.gloans-docs__body
			p По решению Правления Кооператива у пайщика могут быть запрошены дополнительные документы, необходимые для принятия решения о выдаче займа.
