include ../pug-modules/mixins
block variables

doctype html
html(lang="ru")

	head
		meta(charset="utf-8")
		title Сберегательный дом - #{title}
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")

		//- meta(name="robots", content="noindex, nofollow")

		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		meta(name="theme-color" content="#000")
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")

		link(rel="preload", href="fonts/MazzardH-Regular.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="preload", href="fonts/MazzardH-Bold.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="preload", href="fonts/MazzardH-Light.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="preload", href="fonts/MazzardH-Medium.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="preload", href="fonts/MazzardH-SemiBold.woff2", as="font", type="font/woff2", crossorigin)

		// styles
		block libs-css
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css")
		link(rel="stylesheet" href="css/styles.css")

	body(class= page=="Home" ? 'home' : '')


		.page

			include ../sections/header


			block content



			include ../sections/footer

		// /.page

		// scripts
		include ../pug-modules/scripts