// modal-form
.modal.modal-form#callback

	button.modal__close(type="button", data-fancybox-close)

	.modal-form__content

		.modal-form__title.title.title-2 Обратный звонок

		.form

			form(action="#")
				input.input(type="text", name="name", placeholder="Как вас зовут?")
				input.input.js-tel-mask(type="tel", name="tel", placeholder="Ваш телефон*")
				button.button.button--accent-bg.submit(type="submit") Перезвоните мне
				+checkbox('Даю свое согласие на обработку персональных&nbsp;данных')


	// /.modal-form__content


// /.modal-form




































