section.hero.guarantee-hero
	.container
		.hero__block 
			h1.title-1 Гарантии и страхование
section.section.g-security
	.container 
		h2.title-2 Ваши сбережения <br> в полной безопасности
		.g-security__row 
			.g-security__elem
				h4.fz-26 Под контролем 
					span.br ЦБ
				.line
			.g-security__elem
				h4.fz-26 Ваши деньги
					span.br обеспечены
					span.br недвижимостью
				.line
			.g-security__elem
				h4.fz-26 Гражданская ответственность
					span.br КПК за нарушение
					span.br договоров
				.line
section.section.g-guarantee
	.container 
		.g-guarantee__row 
			.g-guarantee__left
				.g-guarantee__left-body 
					p.fz-26.el-border Мы можем гарантировать своим клиентам действительно высокую процентную ставку по сбережениям, благодаря тому, что вторым нашим направлением является кредитование под залог недвижимости. 
					span Ежемесячно наши заемщики выплачивают нам денежные средства вместе с процентами за использование заёмных средств, и именно из этих средств формируется фонд выплаты процентов по всем видам сберегательных программ. 
			.g-guarantee__right
				img.img--cover(src="img/g-guarantee-img.jpg", alt="")
section.section.g-svid
	.container 
		.g-svid__row 
			.g-svid__left
				a(href="img/sec-1.png", data-fancybox)
					img(src="img/sec-1.png", alt="sec-1")
			.g-svid__right
				.g-svid__right__bl
					.g-svid__right-fig
						img.img(src="img/sec-bg.jpg", alt="sec-bg")
					a(href="#").g-svid__right-ob
						img.img(src="img/sec-2.png", alt="sec-2")
					.g-svid__right-body 
						p Страхование обеспечивается НКО «Межрегиональное потребительское общество взаимного страхования». Ответственность кредитного потребительского кооператива «Сберегательный Дом» застрахована в соответствии с Федеральным законом от 29.11.2007 № 286-ФЗ «О взаимном страховании» (ст. 1, ч. 2).
