section.section.aboutus
	.container
		h2.title-2 Коротко о нас
		.aboutus__row 
			.aboutus__left
				.aboutus__left-block
					h4.fz-26 Кредитный потребительский кооператив «Сберегательный Дом» —
					p добровольное объединение физических и юридических лиц на основе членства в целях удовлетворения финансовых потребностей членов кредитного кооператива (пайщиков). 
			.aboutus__right
				.aboutus__right-block
					h4.fz-26 Благодаря большому опыту работы и постоянному потоку клиентов мы можем гарантировать максимально высокую процентную ставку по всем видам наших сберегательных программ. 
		.aboutus__btns 
			button.button.button--accent-bd Узнать больше