// hero
section.hero


	.hero__slider.swiper-container
		.swiper-wrapper

			.swiper-slide

				.hero-slide.hero-slide-1(style="background-image: url('img/hero-slide-1.jpg')")

					.container

						.hero__title
							h2.title-1
								| Действительно выгодные 
								span программы вложения средств

						.hero__row.flex

							ul.hero-advantages
								li Под контролем ЦБ
								li Ваши деньги обеспечены  недвижимостью
								li Гражданская <br> ответственность КПК за нарушение договоров договоров

							.hero-geo
								img.img(src="img/geo-map.svg", alt="alt")
								span.fz-22 Работаем по&nbsp;всей России

							.hero-btn
								a.button.button--white-bd(href="#") Подробнее

					// /.container

				// /.hero-slide



			.swiper-slide

				.hero-slide.hero-slide-2(style="background-image: url('img/hero-slide-2.jpg')")

					.container

						.hero__title
							h2.title-1
								| Наслаждайтесь жизнью здесь и сейчас!
								br
								span Займы на любые цели

						.hero__row.flex

							ul.hero-advantages
								li Под контролем ЦБ
								li Выдача займов за 1 день 
								li Гражданская <br> ответственность КПК за нарушение договоров договоров

							.hero-geo
								img.img(src="img/geo-map.svg", alt="alt")
								span.fz-22 Работаем по&nbsp;всей России

							.hero-btn
								a.button.button--white-bd(href="#") Подробнее

					// /.container

				// /.hero-slide



			.swiper-slide

				.hero-slide.hero-slide-3(style="background-image: url('img/hero-slide-3.jpg')")

					.container

						.hero__title
							h2.title-1 Ваши сбережения<br> в полной<br> безопасности

						.hero__row.flex

							ul.hero-advantages
								li Под контролем ЦБ
								li Ваши деньги обеспечены  недвижимостью
								li Гражданская <br> ответственность КПК за нарушение договоров договоров

							.hero-geo
								img.img(src="img/geo-map.svg", alt="alt")
								span.fz-22 Работаем по&nbsp;всей России

							.hero-btn
								a.button.button--accent-bd(href="#") Подробнее

					// /.container

				// /.hero-slide





		// /.swiper-wrapper
	// /.swiper-container

	.hero-dots.slider-dots.show-xl

	.hero-tabs.hide-xl
		.container.container--sm
			.flex
				button.button.hero-tab(type="button") Хочу вложить деньги
				button.button.hero-tab(type="button") Хочу взять займ
				button.button.hero-tab(type="button") Наши гарантии

// /.hero