// how
section.section.how

	.container

		h2.title-2.text-center Как начать получать доход?


		.how__row.f-row.d-block-xl

			.f-col.col-1-2

				.how__item

					.how__img
						img.img.img--contain(src="img/phone.png", alt="alt")

			.f-col.col-1-2
				.how__slider.swiper-container.swiper-mobile
					.f-row.swiper-wrapper
						.swiper-slide.f-col.col-1-2
							.how__item.how__item-1
								.how__item-num.title.title-2 1.
								.how__item-title Свяжитесь с нами
								p Оставьте заявку или звоните по телефону:
								a.title.fz-22(href="tel:88003331305") 8-800-333-13-05
								.how__item-btn
									button.button.button--accent-bd(type="button") Заказать звонок
						.swiper-slide.f-col.col-1-2
							.how__item.how__item-2
								.how__item-num.title.title-2 2.
								.how__item-title Оформите договор
								p Как вам будет удобно:<br> в наших офисах или удаленно, не выходя из&nbsp;дома. Мы работаем по&nbsp;всей России.
						.swiper-slide.f-col.col-1-2
							.how__item.how__item-3
								.how__item-num.title.title-2 3.
								.how__item-title Вносите деньги
								p Наличными или переводом из банка. Проценты будут начисляться с первого дня.
						.swiper-slide.f-col.col-1-2
							.how__item.how__item-4
								.how__item-num.title.title-2 4.
								.how__item-title Получайте доход
								p Выбирайте как получать проценты: наличными в офисе, переводом на карту или зачислением на счет сбережения.
				// /.how__slider

				.how__dots.slider-dots.show-xl
				
			// /.f-col.col-1-2

	// /.container

// /.how