section.section.legislation
	.container
		.legislation-tit__wrap
			.legislation-title 
				span Наша деятельность полностью прозрачна
				br
				span и регулируется законодательством РФ
		.legislation__wrap
			.legislation__left
				.legislation__left-work.work
					.work__img
						a(href="img/leg-1.png", data-fancybox)
							img.img(src="img/leg-1.png", alt="")
					.work__body
						h4.title-3 Работаем под контролем ЦБ РФ 
						p КПК «Сберегательный Дом» работает в строгом соответствии с ФЗ №190 «О кредитной кооперации», а также соблюдает требования Базового стандарта осуществления деятельности КПК на финансовом рынке
						.work__body-bl
							a(href="#" download) 
								img.img(src="img/pdf.png", alt="")
								span Федеральный Закон №190 о КПК
				.legislation__left-work.work
					.work__img
						a(href="#") 
							img.img(src="img/leg-2.png", alt="")
					.work__body
						h4.title-3 Сдаём отчетность в РосФинМониторинг
						p Мы сдаём отчетность в «РосФинМониторинг» по формам ФЭС — 1-ФМ, 2-ФМ, 3-ФМ, 4-ФМ не реже чем один раз в квартал. 
						.work__body-bl
							a(href="#" download) 
								img.img(src="img/pdf.png", alt="")
								span Федеральный закон № 115-ФЗ от 07.08.2001
			.legislation__right
				.legislation__right-block
					h4.title-3 СРО «Губернское Кредитное Содружество»
					.legislation__right-link
						a(href="img/leg-3.png", data-fancybox)
							img(src="img/leg-3.png", alt="leg-3")