section.section.loans
	.container
		.loans__block
			.loans__body
				h2.title-2.el-border Выдаём займы на любые цели,<br>
					span обеспеченные залогом в виде недвижимости и автомобилей. Работаем по всей России. 
				p Индивидуальные условия пайщикам КПК «Сберегательный Дом»
			.loans__info
				button.button.button--accent-bd Узнать больше