section.section.security 
	.container 
		h2.title-2 Безопасность ваших сбережений
		.security__row 
			.security__left
				.security__left-body
					p.fz-26.el-border Мы можем гарантировать своим клиентам действительно высокую процентную ставку по сбережениям, благодаря тому, что вторым нашим направлением является кредитование под залог недвижимости. 
					span Ежемесячно заемщики выплачивают денежные средства вместе с процентами за их использование, и именно из этих средств формируется фонд выплаты процентов по всем видам сберегательных программ. 
				.security__left-info 
					p Страхование обеспечивается НКО «Межрегиональное потребительское общество взаимного страхования».Ответственность кредитного потребительского кооператива «Сберегательный Дом» застрахована в соответствии с Федеральным законом от 29.11.2007 № 286-ФЗ «О взаимном страховании» (ст. 1, ч. 2).
			.security__right
				.security__right__bl
					a(href="#").security__right-ob
						img.img(src="img/sec-2.png", alt="sec-2")
					.security__right-fig 
						img.img(src="img/sec-bg.jpg", alt="sec-bg")
				.security__right-svid
					a(href="img/sec-1.png", data-fancybox)
						img(src="img/sec-1.png", alt="sec-1")