extends layout/main

block variables
	- let title = 'about'
	- let page = 'about'



block content
	include sections-about/about
	include sections-index/sheme
	include sections-about/about2
	include sections/page-form2