extends layout/main

block variables
	- let title = 'Новости'
	- let page = 'news'



block content
	include sections-news/list
	include sections/page-form2





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")