extends layout/main

block variables
	- let title = 'Сбережения'
	- let page = 'saving'



block content
	include sections-saving/hero
	include sections-saving/programms
	include sections-index/calc
	include sections-index/how
	include sections/page-form2

