// contacts-hero
section.contacts-hero.page-hero

	.container

		h1.title-1.page-title.text-center Контакты


		.contacts-hero__block

			.contacts-hero__row.f-row.d-block-xl
				.f-col.col-1-2
					p.contacts-hero__subtitle Звонок бесплатный
					a.tel-link.title-1(href="tel:88003331305") 8-800-333-13-05
					p.contacts-hero__subtitle Напишите нам в мессенджеры
					ul.messengers
						li
							a(href="#", target="_blank")
								img.img(src="img/ic-viber.svg", alt="alt")
						li
							a(href="#", target="_blank")
								img.img(src="img/ic-whatsapp.svg", alt="alt")
						li
							a(href="#", target="_blank")
								img.img(src="img/ic-telegram.svg", alt="alt")
						li
							a(href="#", target="_blank")
								img.img(src="img/ic-skype.svg", alt="alt")
				.f-col.col-1-2
					.contacts-hero__geo
						img.img(src="img/geo-map-black.svg", alt="alt")
						.title.title-2 Мы работаем 
							span.nowrap по всей России
		// /.contacts-hero__block



	// /.container

// /.contacts-hero