//FAQ BEGIN
section.faq
	.container
		h2.faq__title.text-center.title-1 Вопрос-ответ
		ul.faq__accordion.js-accordion
			li
				a.ask.js-accordion-btn
					| Что такое кредитно-потребительский кооператив?
					span.mark
				p.answer.js-accordion-content
					| Прибыль мы получаем путем займов, выдаваемым членам кооператива, являющиемися юр лицами, строго под залог имущества. Выгода очевидная. Высокий процент мы получаем за счет разницы между займами и процентом по паю. В отличии других распространенных форм собственности, целью которых является получение прибыли и набивание карманов, мы нацелены на прибыль  наших пайщиков.
			li
				a.ask.js-accordion-btn
					| Что такое кредитно-потребительский кооператив?
					span.mark
				p.answer.js-accordion-content
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, ipsum, fuga, in, obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas tempora maxime rerum neque deserunt suscipit provident cumque et mollitia ex aspernatur porro minus sapiente voluptatibus eos at perferendis repellat odit aliquid harum molestias ratione pariatur adipisci. Aliquid, iure.
			li
				a.ask.js-accordion-btn
					| Что такое кредитно-потребительский кооператив?
					span.mark
				p.answer.js-accordion-content
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, ipsum, fuga, in, obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas tempora maxime rerum neque deserunt suscipit provident cumque et mollitia ex aspernatur porro minus sapiente voluptatibus eos at perferendis repellat odit aliquid harum molestias ratione pariatur adipisci. Aliquid, iure.
			li
				a.ask.js-accordion-btn
					| Что такое кредитно-потребительский кооператив?
					span.mark
				p.answer.js-accordion-content
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, ipsum, fuga, in, obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas tempora maxime rerum neque deserunt suscipit provident cumque et mollitia ex aspernatur porro minus sapiente voluptatibus eos at perferendis repellat odit aliquid harum molestias ratione pariatur adipisci. Aliquid, iure.

		// / accordion

//FAQ END