// saving-hero
section.saving-hero

	.container

		.saving-hero__bg

			h1.title-1.saving-hero__title
				span.fw-600 Действительно выгодные 
				| программы вложения средств


	// /.container

// /.saving-hero