// news
section.news.page-hero

	.container

		h1.title-1.page-title.text-center Новости



		.news

			.f-row

				-
					var news = [
						{
							"txt": "Деонтология, как следует из вышесказанного, очевидна не для всех. Ощущение мира нетривиально. Дедуктивный метод"
						},
						{
							"txt": "Импликация, как принято считать, преобразует гравитационный парадокс, tertium nоn datur."
						},
						{
							"txt": "Исчисление предикатов существенно ускоряет бабувизм. Созерцание, несмотря на некоторую вероятность коллапса, концентрирует язык образов."
						},
						{
							"txt": "Деонтология, как следует из вышесказанного, очевидна не для всех. Ощущение мира нетривиально. Дедуктивный метод"
						},
						{
							"txt": "Импликация, как принято считать, преобразует гравитационный парадокс, tertium nоn datur."
						},
						{
							"txt": "Исчисление предикатов существенно ускоряет бабувизм. Созерцание, несмотря на некоторую вероятность коллапса, концентрирует язык образов."
						},
					]
				each item in news
					.f-col.col-1-3
						.news-thumb
							.news-thumb__img
								a(href="#")
									img.img.img--cover(src="img/img-news-1.jpg", alt="alt")
							.news-thumb__body
								.news-thumb__date 19.01.2021
								.news-thumb__title.fw-600
									a(href="#") Текст новости мы напишем тогда, когда уже запустим сайт
								.news-thumb__txt !{item.txt}
								.news-thumb__btn
									a.button.button--accent-bd(href="#") Читать
						// /.news-thumb

			// /.f-row


			.news-more
				button.button.button--accent-bd(type="button") Загрузить ещё

		// /.news


	// /.container

// /.news